/* 
    Document   : ecran
    Created on : 14 déc. 2012, 16:03:23
    Author     : Tony
    Description:
        Purpose of the stylesheet follows. Test
*/

body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* --- TOP BANNER --- */

img#logo
{
    top: 1%;
    left: 1%;
    height: 98%;
    width: auto;
    position: absolute;
}

header{
    width: 100%;
    height: 5%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    background-color: grey;
    overflow: hidden;
    z-index: 5;
    
    background: #5C9CCC url(redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
}

header h1{
    float: left;
    color: white;
    margin-bottom: 1%;
    position: absolute;
    bottom: 0;
}

header div {
    float: right;
    margin-right: 20px;
    position: absolute;
    bottom: 0;
    right:25px;
}

/* --- MENU LEFT --- */

div#left {
    position: absolute;
    width: 15%;
    height: 95%;
    top: 5%;
    left:0;
    border-right: 2px solid black;
    border-top: 2px solid black;
    background-color: #83D2EF;    
}

div#left h2 {
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

div#left ul
{
    padding:0;
    left: 0;
    list-style: none;
    width: 100%;
}

div#left ul li
{
    width:100%;
    padding-top: 10px;
    padding-bottom:  10px;
    margin: auto;
}

div#left ul li:hover
{
    border: 1px solid black;
    cursor: pointer;
}

/* --- MENU BOTTOM --- */

footer {
    width:85%;
    position: absolute;
    height: 5%;
    left: 15%;
    bottom:0;
    border-top: 2px solid black;
    border-left:2px solid black;
    background-color: gainsboro; 
    padding-left: 5px;
}

    footer div#detailsPanier
    {
        float: left;
        bottom: 0;
    }
    
    footer div#about
    {
        float: right;
        bottom: 0;
        padding-right: 15px;
    }

/* --- MAIN CONTAINER --- */

div#mainContainer
{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 85%;
    height: 90%;
    padding-left: 50px;
    overflow: auto;
}

div.display
{
    margin : 1%;
    display: inline-block;
}

img.display{
    width: 300px;
    height: auto;
}

img.icon
{
    width: 35px;
    height: 35px;
}

img#login
{
    margin-top: 15px;
    margin-left: 50px;
}

img.onclick:hover
{
    cursor: pointer;
}

h2#galleryTitle
{
    font-size: 2em;
    border-bottom: 5px solid #83D2EF;
    width: 40%;
    padding-left: 50px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

p.comment
{
    display: none;
}

div#div_login
{
    display: none;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

    form#form_login
    {
        margin: 20px;
    }
        form#form_login input
        {
            float: right;
        }
        
        form#form_login label
        {
            float: left;
        }

div.actions
{
    border-radius: 5px;
    background-color: gainsboro;
    margin-top: -5px;
}
    img.action
    {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 5px 10px 5px 10px;
        float: right;
    }
    
    img.action:hover
    {
        cursor: pointer;
    }
    
div#div_menu
{
    position: absolute;
    width: 200px;
    height: 0px;
    right:5px;
    top:5.1%;
    background-color: black;
    opacity: 0;
    z-index: 1000;
    
    border-radius: 5px;
    border: 2px solid silver;
}

    div#div_menu ul
    {       
        padding: 0;
        list-style: none;
        height: 100%;
        margin-top: 0;
    }

    div#div_menu li
    {
        color: white;
        border-bottom: 1px solid silver;
        border-left: 5px solid silver;    
        padding-top: 10px;
        padding-bottom:  10px;
        padding-left: 5px;
    }
    
    div#div_menu li:hover
    {
        border-left: 20px solid silver;
        font-weight: bold;
        cursor: pointer;
    }
    
    /* COMMON */
    
    .hide{
        display: none;
    }